page-questionnaire {
	.quest-box{
		background-color: #fff7f5;
  		border: solid 1px #ffede8;
  		display:flex;
  		align-items:center;
	}
	.checkbox-icon {
	    border: solid 1px #d3d3d3 !important;
	    position: relative;
	    width: 28px !important;
	    height: 28px !important;
	    border-radius: 100% !important;
	}
	.checkbox-checked .checkbox-inner {
	    left: 10px !important;
	    top: 6px !important;
	    height: 10.8px !important;
		  width: 6.2px !important;
		  border-color: #f25f39 !important;
		  border-width: 1.5px !important;
		  border-left:none !important;
		  border-top:none !important;
	}
	.checkbox-checked{
		background:#fff !important;
		border-color: #f25f39 !important;
	}
	.quest-box{
		border-radius:10px !important;
		margin:20px 0px !important;
	}
	ion-label{
	  font-family: 'SFProDisplay';
	  font-size: 14px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.86;
	  letter-spacing: 0.4px;
	  text-align: left;
	  color: #000000;
	  white-space: pre-wrap;
      margin-top: 0px !important;
      margin-bottom: 0px !important;
	}
	h1{
	  font-family: 'SFProText Regular';
	  font-size: 24px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.21;
	  letter-spacing: normal;
	  text-align: center;
	  color: #393939;
	  margin-top:15px !important;
	  margin-bottom:35px !important;
	}
}
