page-welcome {
	.login_container{
		position:absolute;
		bottom:45px;
		width:100%;
	}
	ion-content{
 		background-size:cover;
 		background-position:center center;
 	}
 	.the_btn{
 		box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.29);
 	}

}
