page-practice {
  .button{
  	width:48%;
  }
  h2{
		font-family: 'SFProDisplay';
	  font-size: 18px;
	  font-weight: bold;
	  text-align:center !important;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.72;
	  letter-spacing: normal;
	  text-align: left;
	  color: #191b1d;
	  margin:40px 0 0px 0 !important;
	}
}
